/* cabeçalho */
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2em;
}

/* categorias */

.categorias__lista{
    display: flex;    
    flex-direction: column;
    row-gap: .5em;    
}



/* destaque */

.destaques{
    display: flex;    
    align-items: center;
    gap: 10px;
    margin-top: 2em;
}

.destaques__barra{
    flex-grow: 1;
}

/* eventos */

.eventos__lista{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
    
}

.eventos__item{
    flex-grow: 1;
    max-width: auto;
    
}

.texto_evento{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
   
}
.botao__evento{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.evento__subtitulo{
    margin: 1rem 0;
}

.eventos__botao{
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

/* outra maneira de ajustar os banner 

.eventos__item{
    display: grid;
    grid-template-column: 1fr auto;
    grid-template-rows: auto repeat(2, 1fr) auto;
    grid-template-areas:
        "imagem imagem"
        "nome nome"
        "data data"
        "local botao";
}

.eventos__item img {
    grid-area: imagem;

}

.eventos__item h3 {
    grid-area: nome;

}

.eventos__item h4 {
    grid-area: data;

}

.eventos__item h5 {
    grid-area: local;

}

.eventos__item button {
    grid-area: botao;

}


*/

/* agenda */

.agenda__lista{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
}

.agenda__item{
    flex-grow: 1;
       

}

.container_info-agenda{
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.agenda__informacoes{
    padding-bottom: 1em ;
}

.agenda__informacoes h3 {
    margin-bottom: 0.5rem; /* Adiciona espaçamento abaixo do elemento h3 */
  }
  
  .agenda__informacoes h4 {
    margin-bottom: 0.3rem; /* Adiciona espaçamento abaixo do elemento h4 */
  }
  
  .agenda__informacoes h5 {
    margin-bottom: 0.2rem; /* Adiciona espaçamento abaixo do elemento h5 */
  }

  .agenda__atracao{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
/* rodapé */

.rodape{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rodape__logo{
    align-self: flex-end;
}

@media (min-width: 720px){

    /* cabeçalho */
    .menu{
        column-gap: 75px;
    }

    /* categorias */

    .categorias__lista{
        display: grid;
         grid-template-columns: repeat(2, 1fr); /* duas colunas com a largura igual */
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }


    /* eventos */


    .eventos__botao{
        justify-content: end;
    }

}




    @media (min-width: 1440px){

        
    /* cabeçalho */
        .menu{
            column-gap: 7em;
            flex-wrap: nowrap;
        }

        .menu__item:nth-child(1){
            order: 1;
        }

        .menu__item:nth-child(2){
            order: 3;
        }

        
        .menu__item:nth-child(3){
            order: 4;
        }
        
        .menu__item:nth-child(4){
            order: 5;
        }
        
        .menu__item:nth-child(5){
            order: 2;
        }

        }
  

    